<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default(messageType=${messageType}, message=${message})}"
>
<head>
  <title>SocialRequest - Query</title>
</head>
<body>
  <div layout:fragment="content">
    <section class="hero is-fullheight-with-navbar">
      <div class="hero-body" style="display: block;">
        <div class="container">

          <div th:replace="search/header :: header(isLiveSearch = false)" />

        </div>

        <div id="search-results-wrapper" class="container">
          <div th:replace="search/result_list :: result_list(results = ${results})" />
        </div>
      </div>
    </section>
  </div>
</body>
</html>
