<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('SocialRequest - Search')"></head>
<body>
<nav th:replace="layout :: nav('search')"></nav>

<main role="main" class="container" th:object="${queryResult}">
    <h1 th:text="*{query.titleLong}">Title</h1>
    <p th:text="*{query.description}">Description</p>

    <div th:replace="requests/list-partial :: list(*{requests})"></div>
</main>
</main>

<footer th:replace="layout :: footer"></footer>
</body>
</html>
