<!DOCTYPE html>
<html
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/default(messageType=${messageType}, message=${message})}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="content">
        <section class="hero is-primary is-fullheight-with-navbar">
            <div class="hero-body" style="display: block;">
                <div class="container">
                    <div class="columns is-desktop">
                        <div class="column is-half is-offset-one-quarter">
                            <form method="get">
                                <div class="field has-addons" style="margin: 2em 0 4em;">
                                    <div class="control is-expanded">
                                        <input name="q" class="input is-rounded" type="text" th:placeholder="${searchQuery!= null} ? ${searchQuery} : 'What are you looking for?'" placeholder="Find a request">
                                    </div>
                                    <div class="control">
                                        <button type="submit" class="button is-info is-rounded" title="Search">
                                            <span class="icon is-right">
                                              <i class="fas fa-search"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="columns is-multiline">
                        <div th:each="request : ${searchResult}" class="column is-one-quarter">
                            <div th:replace="fragments/request_card :: request_card(request=${request})">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>