<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('SocialRequest - Search')"></head>
<body>
<nav th:replace="layout :: nav('search')"></nav>

<main role="main" class="container">
    <form class="row justify-content-center" th:action="@{/search}" method="get">
        <div class="col-md-7">
            <input type="text" id="q" name="q" th:value="${query}" placeholder="Search"
                   class="form-control form-control-lg">
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary btn-lg">Search</button>
        </div>
    </form>

    <div th:replace="requests/list-partial :: list(${requests})"></div>
</main>

<footer th:replace="layout :: footer"></footer>
</body>
</html>
