<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <th:block th:fragment="leaderboard_place(place)">
    <div class="leaderboard-place tile notification box is-info has-text-white">
      <p class="leaderboard-place--rank title is-1" th:text="${'#' + place.rank}">Rank</p>
      <p class="leaderboard-place--user title" th:text="${place.user}">Username</p>
      <p class="leaderboard-place--distance subtitle" th:text="${#numbers.formatDecimal(place.kilometers, 0, 0) + ' km' }">Total Travelled Distance</p>
    </div>
  </th:block>
</body>
</html>
