<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default(messageType=${messageType}, message=${message})}"
>
<head>
  <title>SocialRequest - Register</title>
</head>
<body>
  <div layout:fragment="content">
    <section class="hero is-primary is-fullheight-with-navbar">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column">
              <div class="card">
                <div class="card-content">
                  <div class="content">
                    <p class="title has-text-black">Register</p>
                    <form th:action="@{/users/register}" th:object="${user}" method="POST">
                      <div class="field">
                        <label class="label">Username</label>
                        <div class="control has-icons-left" th:classappend="${#fields.hasErrors('username') ? 'has-icons-right' : ''}">
                          <input th:field="*{username}" class="input" type="text" th:classappend="${#fields.hasErrors('username') ? 'is-danger' : ''}">
                          <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                          </span>
                          <span th:if="${#fields.hasErrors('username')}" class="icon is-small is-right">
                            <i class="fas fa-exclamation-triangle"></i>
                          </span>
                        </div>
                        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="help is-danger" />
                      </div>
                      <div class="field">
                        <label class="label">Email</label>
                        <div class="control has-icons-left" th:classappend="${#fields.hasErrors('email') ? 'has-icons-right' : ''}">
                          <input th:field="*{email}" class="input" type="email" th:classappend="${#fields.hasErrors('email') ? 'is-danger' : ''}">
                          <span class="icon is-small is-left">
                            <i class="fas fa-at"></i>
                          </span>
                          <span th:if="${#fields.hasErrors('email')}" class="icon is-small is-right">
                            <i class="fas fa-exclamation-triangle"></i>
                          </span>
                        </div>
                        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="help is-danger" />
                      </div>
                      <div class="field">
                        <label class="label">Password</label>
                        <div class="control has-icons-left" th:classappend="${#fields.hasErrors('password') ? 'has-icons-right' : ''}">
                          <input th:field="*{password}" class="input" type="password" th:classappend="${#fields.hasErrors('password') ? 'is-danger' : ''}">
                          <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                          </span>
                          <span th:if="${#fields.hasErrors('password')}" class="icon is-small is-right">
                            <i class="fas fa-exclamation-triangle"></i>
                          </span>
                        </div>
                        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="help is-danger" />
                      </div>
                      <div class="field">
                        <label class="label">Password Confirmation</label>
                        <div class="control has-icons-left" th:classappend="${#fields.hasErrors('passwordConfirmation') ? 'has-icons-right' : ''}">
                          <input th:field="*{passwordConfirmation}" class="input" type="password" th:classappend="${#fields.hasErrors('passwordConfirmation') ? 'is-danger' : ''}">
                          <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                          </span>
                          <span th:if="${#fields.hasErrors('passwordConfirmation')}" class="icon is-small is-right">
                            <i class="fas fa-exclamation-triangle"></i>
                          </span>
                        </div>
                        <p th:if="${#fields.hasErrors('passwordConfirmation')}" th:errors="*{passwordConfirmation}" class="help is-danger" />
                      </div>
                      <div class="field is-grouped">
                        <div class="control">
                          <button type="submit" class="button is-link">Register</button>
                        </div>
                        <div class="control">
                          <a href="/" class="button is-link is-light">Back</a>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="column" />
          </div>
        </div>
      </div>
    </section>
  </div>
</body>
</html>
