<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Location Input</title>
</head>
<body>
  <div th:fragment="location_input">
    <script type="text/javascript" src="/js/locationInput.js"></script>

    <div class="field">
      <div id="map" class="map" style="height: 330px; width: 100%; margin-bottom: 1rem;"></div>
    </div>

    <div class="field">
      <label class="label">Address search</label>
      <div class="field has-addons">
        <div class="control is-expanded">
          <input name="locationString" id="locationString" class="input" type="text" placeholder="Find your location">
        </div>
        <div class="control">
          <a class="button is-info" title="Search" id="btnSearchAddress">
            <span class="icon is-right">
              <i class="fas fa-search"></i>
            </span>
          </a>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">Latitude</label>
      <div class="control has-icons-left">
        <input th:field="*{lat}" id="latitude" class="input" type="text">
        <span class="icon is-small is-left">
          <i class="fas fa-map-marker"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <label class="label">Longitude</label>
      <div class="control has-icons-left">
        <input th:field="*{lng}" id="longitude" class="input" type="text">
        <span class="icon is-small is-left">
          <i class="fas fa-map-marker"></i>
        </span>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <a id="geolocator" onclick="getDeviceLocation()" class="button is-info">
          Locate Device
        </a>
      </div>
    </div>
  </div>
</body>
</html>
