<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default(messageType=${messageType}, message=${message})}"
>
<head>
  <title>SocialRequest - Change Password</title>
</head>
<body>
  <div layout:fragment="content">
    <section class="hero is-fullheight-with-navbar">
      <div class="hero-body" style="display: block;">
        <div class="container">
          <h1 class="title is-1">Change Your Password</h1>

          <form action="/users/update-password" th:object="${passwordForm}" method="POST">
            <div class="field">
              <label class="label">Old Password</label>
              <div class="control has-icons-left" th:classappend="${#fields.hasErrors('oldPassword') ? 'has-icons-right' : ''}">
                <input th:field="*{oldPassword}" class="input" type="password" th:classappend="${#fields.hasErrors('oldPassword') ? 'is-danger' : ''}">
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
                <span th:if="${#fields.hasErrors('oldPassword')}" class="icon is-small is-right">
                  <i class="fas fa-exclamation-triangle"></i>
                </span>
              </div>
              <p th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}" class="help is-danger"></p>
            </div>

            <div class="field">
              <label class="label">New Password</label>
              <div class="control has-icons-left" th:classappend="${#fields.hasErrors('newPassword') ? 'has-icons-right' : ''}">
                <input th:field="*{newPassword}" class="input" type="password" th:classappend="${#fields.hasErrors('newPassword') ? 'is-danger' : ''}">
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
                <span th:if="${#fields.hasErrors('newPassword')}" class="icon is-small is-right">
                  <i class="fas fa-exclamation-triangle"></i>
                </span>
              </div>
              <p th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" class="help is-danger"></p>
            </div>

            <div class="field">
              <label class="label">Password Confirmation</label>
              <div class="control has-icons-left" th:classappend="${#fields.hasErrors('newPasswordConfirmation') ? 'has-icons-right' : ''}">
                <input th:field="*{newPasswordConfirmation}" class="input" type="password" th:classappend="${#fields.hasErrors('newPasswordConfirmation') ? 'is-danger' : ''}">
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
                <span th:if="${#fields.hasErrors('newPasswordConfirmation')}" class="icon is-small is-right">
                  <i class="fas fa-exclamation-triangle"></i>
                </span>
              </div>
              <p th:if="${#fields.hasErrors('newPasswordConfirmation')}" th:errors="*{newPasswordConfirmation}" class="help is-danger"></p>
            </div>

            <div class="field is-grouped">
              <div class="control">
                <button type="submit" class="button is-success">Update Password</button>
              </div>
              <div class="control">
                <a href="/users/me" class="button is-danger is-light">Back</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</body>
</html>
