<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.min.css">
</head>
<body>
  <th:block th:fragment="flash_message(type, message)">
    <div
      class="flash-message notification"
      th:if="${message != null}"
      th:classappend="|
        ${#strings.equals(type, 'success') ? 'is-success' : ''}
        ${#strings.equals(type, 'error') ? 'is-danger' : ''}
        ${not #strings.equals(type, 'success') and not #strings.equals(type, 'error') ? 'is-info' : ''}
      |"
    >
      <button class="delete"></button>
      <span th:text="${message}" />
    </div>
  </th:block>
</body>
</html>
