<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
<div class="mt-5 row" th:fragment="list (requests)">
    <p th:if="${#lists.isEmpty(requests)}" class="table">Currently there are no unfulfilled requests</p>
    <table th:unless="${#lists.isEmpty(requests)}" class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Creator</th>
            <th scope="col">Latitude</th>
            <th scope="col">Longitude</th>
            <th scope="col">Created At</th>
            <th scope="col" sec:authorize="isAuthenticated()"></th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="request : ${requests}">
            <td th:text="${request.id}" scope="row">ID</td>
            <td><a th:text="${request.title}" th:href="@{/requests/} + ${request.id}">Title</a></td>
            <td th:text="${request.user.username}">Username</td>
            <td th:text="${request.latitude}">Latitude</td>
            <td th:text="${request.longitude}">Longitude</td>
            <td th:text="${#dates.format(request.createdAt, 'dd-MM-yyyy HH:mm')}">CreatedAt</td>
            <td scope="col" sec:authorize="isAuthenticated()">
                <form th:unless="${#authentication.principal.id} == ${request.user.id}"
                      th:action="@{/fulfillments}" method="post">
                    <input type="hidden" id="requestId" name="requestId" th:value="${request.id}">
                    <button type="submit" class="btn btn-primary">Fulfill</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
