<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="layout :: head('SocialRequest')"></head>
<body>
<nav th:replace="layout :: nav('home')"></nav>

<main role="main" class="container">
    <form class="row justify-content-center" th:action="@{/search}" method="get">
        <div class="col-md-7">
            <input type="text" id="q" name="q" class="form-control form-control-lg" placeholder="Search">
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary btn-lg">Search</button>
        </div>
    </form>

    <div sec:authorize="isAuthenticated()" class="mt-5 text-center">
        <span th:each="query : ${queries}">
            <a th:text="${query.titleShort}" th:href="@{/query/} + ${query.id}" class="btn btn-outline-primary"
               role="button">Query</a>
        </span>
    </div>

    <div class="mt-5 row">
        <h1>Unfulfilled Requests</h1>
    </div>

    <div th:replace="requests/list-partial :: list(${requests})"></div>
</main>

<footer th:replace="layout :: footer"></footer>
</body>
</html>
