<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default(messageType=${messageType}, message=${message})}"
>
<head>
  <title>SocialRequest - Home</title>
</head>
<body>
  <div layout:fragment="content">
    <section class="hero is-fullheight-with-navbar">
      <div class="hero-body" style="display: block;">
        <div class="container">
          <div sec:authorize="isAuthenticated()" class="level">
            <div class="level-left">
              <div class="level-item">
                <a href="/query/near-by" class="button is-link is-light">
                  <span class="icon is-small"><i class="fas fa-search"></i></span>
                  <span>Requests in your area!</span>
                </a>
              </div>
              <div class="level-item">
                <button class="button is-link is-light" id="specialties-search">
                  <span class="icon is-small"><i class="fas fa-search"></i></span>
                  <span>Requests with Your Specialties!</span>
                </button>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <a href="/request/new" class="button is-success">
                  <span class="icon is-small"><i class="fa fa-plus"></i></span>
                  <span>Create Request</span>
                </a>
              </div>
            </div>
          </div>

          <div class="columns is-desktop">
            <div class="column is-half is-offset-one-quarter">
              <form id="search-form" action="/search" method="GET">
                <div class="field has-addons search-field">
                  <div class="control is-expanded">
                    <input name="q" class="input is-rounded" type="text" th:placeholder="${searchQuery != null and searchQuery != ''} ? ${searchQuery} : 'What are you looking for?'" placeholder="Find a request">
                  </div>
                  <div class="control">
                    <button type="submit" class="button is-info is-rounded" title="Search">
                      <span class="icon is-right">
                        <i class="fas fa-search"></i>
                      </span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div id="search-results-wrapper" class="container">
          <div th:replace="search/result_list :: result_list(results = ${results})" />
        </div>
      </div>
    </section>
  </div>
</body>
</html>
