<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default(messageType=${messageType}, message=${message})}"
>
<head>
  <title th:inline="text">SocialRequest - [[${request.title}]]</title>
</head>
<body>
  <div layout:fragment="content">
    <section class="hero is-fullheight-with-navbar">
      <div class="hero-body" style="display: block;">
        <script type="text/javascript" src="/js/locationFixpoint.js"></script>
        <div class="container">
          <div class="content">
            <div class="columns">
              <div class="column">
                <h1 class="title is-1" th:text="${request.title}" style="margin-bottom: .5rem;"></h1>
                <p th:utext="'- created by ' + ${request.user.username}"></p>
                <div class="tags">
                  <span th:each="topic : ${request.topics}" th:text="${topic.name}" class="tag is-rounded is-info is-light"></span>
                </div>
                <article class="message">
                  <div class="message-body" th:text="${request.description}"></div>
                </article>
              </div>

              <div class="column">
                <h3 class="title is-3">Location</h3>
                <div class="field">
                  <div id="map" class="map" style="height: 330px; width: 100%;" th:attr="data-lat=${request.lat},data-lng=${request.lng}"></div>
                </div>
              </div>
            </div>

            <div class="buttons">
              <a href="/" class="button">
                <span class="icon">
                  <i class="fas fa-arrow-left"></i>
                </span>
                <span>Back</span>
              </a>
              <th:block th:unless="${request.user.id == #authentication.principal.user.id}">
                <form th:action="@{/requests/{id}/fulfill(id=${request.id})}" th:if="${request.fulfillment == null}" method="POST">
                  <button type="submit" class="button is-success">Fulfill Request</button>
                </form>
                <button
                  th:unless="${request.fulfillment == null}"
                  class="button is-success"
                  disabled
                  th:text="'Already fulfilled by ' + ${request.fulfillment.user.id == #authentication.principal.user.id ? 'you' : request.fulfillment.user.username}"
                ></button>
              </th:block>
            </div>

            <!-- Directions -->
            <article class="panel is-info" th:if="${directions != null}">
              <p class="panel-heading" style="margin:0;">
                How to get to the Request's Location?
              </p>
              <div class="panel-block is-active">
                <table class="table is-hoverable is-fullwidth">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Instruction</th>
                      <th>Travel Distance (in m)</th>
                      <th>Travel Time (in h)</th>
                      <th>Street name</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="direction : ${directions}">
                      <td><i class="fas fa-map-signs" aria-hidden="true"></i></td>
                      <td th:text="${direction.message}"></td>
                      <td th:text="${direction.distance}"></td>
                      <td th:text="${direction.formattedTravelTime}"></td>
                      <td th:text="${direction.street}"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </article>

          </div>
        </div>
      </div>
    </section>
  </div>
</body>
</html>
